@* <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class=" container-xxl " id="kt_content_container">
        
    </div>
</div> *@


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container ">
        <div class="card card-flush shadow-sm">
            <div class="card-header">
                <h1 class="card-title fs-1 fw-semibold"><span class="text-warning fw-semibold me-1">AKU</span>Otomobil Yedek Parça Hakkında</h1>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Action
                    </button>
                </div>
            </div>
            <div class="card-body py-5 mx-auto">
                <p class="fw-bold fs-4">41 farklı otomobil markası için 180,340'den fazla garantili oto yedek parça çeşidini en iyi fiyat avantajı ve en iyi hizmet imkanı ile kapınıza getiriyoruz. Sürdürülebilir teknolojik alt yapısı ile günden güne kendini yenileyen akuparca.com 2017 yılından beri müşterilerine hizmet vermeye devam ediyor. Her geçen gün sitesine eklediği yenilikler sayesinde aracınıza uyumlu parçaları bulabileceğiniz ve motor kontrolünü yapabileceğiniz sistemleri geliştiriyor.
                Türkiye'de araç oto parçası aramada online olarak kullanılan şasi programını da müşterileri için geliştirdi. İhtiyacınız olan oto yedek parça, motor yağ, motor katkıları ve hayatı farklılaştıran özel tasarımla arabanıza yenilik katan aksesuarları akuparca.com'da kolayca bulup güvenli bir şekilde satın alabilirsiniz. Aracınızın bakım montajlarını da özel yetkili servislerimizde yaptırabilmeniz mümkün. Online satış işine yeni bir boyut getiren Akuparca edindiği vizyon sayesinde her geçen gün müşteri sayısını arttırarak tüm Türkiye'ye aracınıza dair herseyi göndermeye devam etmektedir. Otomobilinizle ilgili hemen hemen her konuda destek alabileceğiniz canlı destek ve telefon hattıyla da akuparca.com ‘dan destek alıp oto parça alışverişinizi tamamlayabilirsiniz. Keyifli alışverişler dileriz.</p>
                <br>
                <br>
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://s.yimg.com/ny/api/res/1.2/8qxIpAMyhBAcW63e0xqfaw--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTM1OQ--/https://media.zenfs.com/en/quartz.com/39cce7842bee5a0fb9c9231c0b22458a" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h1 class="card-title fs-1">Müşterilerin Gözünden<span class="text-warning fw-semibold me-1">AKU</span></h1>
                                <p class="fw-bold fs-4">Araç parçası konusunda başka bir yer ile görüşmüyorum. Anında AKU'ya ulaşıyorum ve tedarik ediyorum. AKU personeli Kerem Bey'e ilgi ve alakasından dolayı teşekkür ederim.</p>
                                <br>
                                <p class="fw-bold fs-3 text-right" >Elon MUSK</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer 1">
                <h1 class="fs-1 text-center">Çözüm Ortaklarımız</h1>
                <div class="card-body py-5">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-body mx-auto">
                                <a href="https://www.instagram.com/kermuzm/">
                                    <img src="/app/images/keremUzum.jpg" class="img-responsive justify-content-center" width="250" height="250" style="object-fit:cover;">
                                </a> 
                            </div>
                            <div class="card-footer">
                                <h5 class="card-title text-center">Kerem Üzüm</h5>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body mx-auto">
                                <a href="https://www.instagram.com/barut021/">
                                    <img src="/app/images/umutBarut.png" class="img-responsive" width="250" height="250" style="object-fit:cover;">
                                </a>
                            </div>
                            <div class="card-footer">
                                <h5 class="card-title text-center">Umut Barut</h5>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body mx-auto">
                                 <a href="https://www.instagram.com/keremkalaycii/">
                                    <img src="/app/images/keremKalayci.jpg" class="img-responsive" width="250" height="250" style="object-fit:cover;">
                                </a>
                            </div>
                            <div class="card-footer">
                                <h5 class="card-title text-center">Ahmet Kerem Kalaycı</h5> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>

        