@* 
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
        <div class="card card-flush shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Action
                    </button>
                </div>
            </div>
            <div class="card-body py-5">
                Lorem Ipsum is simply dummy text...
            </div>
            <div class="card-footer">
                Footer
            </div>
        </div>
    </div>
</div>  *@


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container ">
        <div class="card card-flush shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Action
                    </button>
                </div>
            </div>
            <div class="card-body py-5 mx-auto">
                <!-- Large button groups (default and split) -->
                <div class="dropdown">
                <button class="btn btn-secondary btn-lg dropdown-toggle btn-dark mx-1 text-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Marka
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                <button class="btn btn-secondary btn-lg dropdown-toggle btn-dark mx-1 text-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Tip
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                <button class="btn btn-secondary btn-lg dropdown-toggle btn-dark mx-1 text-warning" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Model
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                <button class="btn btn-warning mx-1 text-dark" type="button">Ara</button>
                </div>
            </div>
            <div class="card-footer 1">
                               <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.motor1.com/images/mgl/P33J9G/s3/2022-bmw-3er-limousine.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://ares.shiftdelete.net/2021/09/mercedes-fiyat-listesi-tum-modeller-2021.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://maserati.scene7.com/is/image/maserati/maserati/international/Models/my23/granturismo/assets/05_169_2.jpg?$1920x2000$&fit=constrain" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
            </div>
            <div class="card-footer 2">
                <div class="card-group ">
                    <div class="card mx-5">
                        <h1 style="text-align: center;"><b>BMW </b>Yedek Parçaları</h1>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW.svg" class="card-img-top" alt="...">
                        <div class="card-body mx-auto">
                            <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">3 Serisi Yedek Parça</a><br>
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">5 Serisi Yedek Parça</a><br>
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">7 Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">X3 Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">X5 Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">X6 Serisi Yedek Parça</a><br>      
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        </div>
                    </div>
                    <div class="card mx-5">
                        <h1 style="text-align: center;"><b>Mercedes </b>Yedek Parçaları</h1>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Mercedes-Logo.svg/2048px-Mercedes-Logo.svg.png" class="card-img-top" alt="...">
                        <div class="card-body mx-auto">
                             <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">A Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">C Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">E Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">S Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">G Serisi Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">V Serisi Yedek Parça</a><br>   

                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        </div>
                    </div>
                    <div class="card mx-5">
                        <h1 style="text-align: center;"><b>VW </b>Yedek Parçaları</h1>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Volkswagen_Logo_till_1995.svg/2048px-Volkswagen_Logo_till_1995.svg.png" class="card-img-top" alt="...">
                        <div class="card-body mx-auto">
                             <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Golf Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Passat Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Jetta Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Polo Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Tiguan Yedek Parça</a><br>   
                 <a href="" 
				class="text-muted text-hover-primary fw-semibold me-2 fs-6">Transporter Yedek Parça</a><br>   
                            
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 