<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
        <div class="card card-flush shadow-sm">
            <div class="card-header">
                <h3 class="card-title">Title</h3>
                <div class="card-toolbar">
                    <button type="button" class="btn btn-sm btn-light">
                        Action
                    </button>
                </div>
            </div>
            <div class="card-body py-5">
                Lorem Ipsum is simply dummy text...
            </div>
            <div class="card-footer">
                Footer
            </div>
        </div>
    </div>
</div> 