
<!DOCTYPE html>
<html lang="en"  data-bs-theme-mode="light" >
    <!--begin::Head-->
        <head>
            <title>Yedek Parca</title>
            <meta charset="utf-8"/>
            <meta name="description" content="
                The most advanced Bootstrap 5 Admin Theme with 40 unique prebuilt layouts on Themeforest trusted by 100,000 beginners and professionals. Multi-demo, 
                Dark Mode, RTL support and complete React, Angular, Vue, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel versions. 
                Grab your copy now and get life-time updates for free.
            "/>
            <meta name="keywords" content="
                metronic, bootstrap, bootstrap 5, angular, VueJs, React, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, 
                Node.js, Flask, Symfony & Laravel starter kits, admin themes, web design, figma, web development, free templates, 
                free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, 
                bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon
            "/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>      
            <meta property="og:locale" content="en_US" />
            <meta property="og:type" content="article" />
            <meta property="og:title" content="
                Metronic - Bootstrap Admin Template, HTML, VueJS, React, Angular. Laravel, Asp.Net Core, Ruby on Rails, 
                Spring Boot, Blazor, Django, Express.js, Node.js, Flask Admin Dashboard Theme & Template
            " />
            <meta property="og:url" content="https://keenthemes.com/metronic"/>
            <meta property="og:site_name" content="Keenthemes | Metronic" />
            <link rel="canonical" href="https://preview.keenthemes.com/metronic8"/>
            <link rel="shortcut icon" href="/metronic8/demo9/assets/media/logos/favicon.ico"/>

            <!--begin::Fonts(mandatory for all pages)-->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>        <!--end::Fonts-->

                        <!--begin::Vendor Stylesheets(used for this page only)-->
                                <link href="/demo9/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"/>
                                <link href="/demo9/dist/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css"/>
                            <!--end::Vendor Stylesheets-->
            
            
                        <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
                                <link href="/demo9/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
                                <link href="/demo9/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
                            <!--end::Global Stylesheets Bundle-->
                    
                                <!--Begin::Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5FS8GGP');</script>
            <!--End::Google Tag Manager -->
    </head>
<!--end::Head-->

    <!--begin::Body-->
    <body  id="kt_body"  class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-disabled" >
        <!--begin::Theme mode setup on page load-->
                <script>
                    var defaultThemeMode = "light";
                    var themeMode;

                    if ( document.documentElement ) {
                        if ( document.documentElement.hasAttribute("data-bs-theme-mode")) {
                            themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
                        } else {
                            if ( localStorage.getItem("data-bs-theme") !== null ) {
                                themeMode = localStorage.getItem("data-bs-theme");
                            } else {
                                themeMode = defaultThemeMode;
                            }			
                        }

                        if (themeMode === "system") {
                            themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
                        }

                        document.documentElement.setAttribute("data-bs-theme", themeMode);
                    }            
                </script>
                <!--end::Theme mode setup on page load-->            
                                    <!--Begin::Google Tag Manager (noscript) -->
                <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FS8GGP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                <!--End::Google Tag Manager (noscript) -->
                        
                        <!--begin::Main-->
                            <!--begin::Root-->
                                <div class="d-flex flex-column flex-root">
                                    <!--begin::Page-->
                                    <div class="page d-flex flex-row flex-column-fluid">

                                        @await Html.PartialAsync("_Aside")

                                        <!--begin::Wrapper-->
                                        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                                    <!--begin::Header tablet and mobile-->
                                    <div class="header-mobile py-3">
                                        <!--begin::Container-->
                                            <div class="container d-flex flex-stack">
                                                <!--begin::Mobile logo-->
                                                <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                                                    <a href="/metronic8/demo9/../demo9/index.html">
                                                        <img alt="Logo" src="/metronic8/demo9/assets/media/logos/demo9.svg" class="h-35px"/>
                                                    </a>
                                                </div>
                                                <!--end::Mobile logo-->
                                                <!--begin::Aside toggle-->
                                                            <button class="btn btn-icon btn-active-color-primary" id="kt_aside_toggle">
                                                                <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                                                    <span class="svg-icon svg-icon-2x me-n1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor"/>
                                                    <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor"/>
                                                    </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->        </button>
                                                <!--end::Aside toggle-->
                                            </div>
                                        <!--end::Container-->
                                    </div>
                                    <!--end::Header tablet and mobile-->	
                                            
                                    @await Html.PartialAsync("_Navbar")

                                    @RenderBody()	

                                    @await Html.PartialAsync("_Footer")

                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Page-->
                                </div>
                            <!--end::Root-->
                        <!--end::Main-->
                    
                <!--begin::Javascript-->
                    <script> var hostUrl = "/metronic8/demo9/assets/";</script>

                    <!--begin::Global Javascript Bundle(mandatory for all pages)-->
                            <script src="/demo9/dist/assets/plugins/global/plugins.bundle.js"></script>
                            <script src="/demo9/dist/assets/js/scripts.bundle.js"></script>
                        <!--end::Global Javascript Bundle-->
        
                    <!--begin::Vendors Javascript(used for this page only)-->
                            <script src="/demo9/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
                            <script src="/demo9/dist/assets/plugins/custom/datatables/datatables.bundle.js"></script>
                        <!--end::Vendors Javascript-->
        
                    <!--begin::Custom Javascript(used for this page only)-->
                            <script src="/demo9/dist/assets/js/widgets.bundle.js"></script>
                            <script src="/demo9/dist/assets/js/custom/widgets.js"></script>
                            <script src="/demo9/dist/assets/js/custom/apps/chat/chat.js"></script>
                            <script src="/demo9/dist/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
                            <script src="/demo9/dist/assets/js/custom/utilities/modals/create-app.js"></script>
                            <script src="/demo9/dist/assets/js/custom/utilities/modals/users-search.js"></script>
                        <!--end::Custom Javascript-->
                <!--end::Javascript-->     
        </body>
        <!--end::Body-->
</html>