<!--begin::Page title-->
    <div id="user-welcome" class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap mt-n5 mt-lg-0 me-lg-2 pb-2 pb-lg-0" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
        <!--begin::Heading-->
        @if(User.Identity.IsAuthenticated)
        {
            <h1 class="text-dark fw-bold my-0 fs-2">Hoşgeldiniz @User.Identity.Name</h1>
        }
        <!--end::Heading-->
    </div>
<!--end::Page title=-->